body {
    background-color: #d7e8ff;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background-color: #000;
    color: #fff;
}

.container header {
    color: #b2b2b2;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 1.6rem;
    font-weight: 500;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    font-weight: 400;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slider #input-range {
    accent-color: #fff;
}

.keys-check input {
    width: 60px;
    height: 30px;

    appearance: none;
    border-radius: 30px;
    background-color: #4b4b4b;
    cursor: pointer;
    position: relative;
}

.keys-check input::before {
    content: "";
    height: 20px;
    width: 20px;
    background-color: #8c8c8c;
    border-radius: inherit;

    position: absolute;
    top: 50%;
    left: 0.4rem;
    transform: translateY(-50%);

    transition: all 0.3s;
}

.keys-check input:checked::before {
    left: 2.15rem;
    background-color: #fff;
}

.piano-keys {
    margin-top: 40px;

    display: flex;
    justify-content: center;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: #a2a2a2;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .white {
    width: 70px;
    height: 230px;

    border-radius: 8px;
    border: 1px solid black;
    background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .white.active {
    background: linear-gradient(to bottom #fff 0%, #eee 100%);
    box-shadow: inset 0px -7px 8px 6px rgba(0, 0, 0, 0.1);
}

.piano-keys .black {
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;

    border-radius: 0px 0px 5px 5px;
    border: 1px solid black;
    background: linear-gradient(#000, #222);
}

.piano-keys .black.active {
    background: linear-gradient(to bottom #4e4e4e, #000 );
    box-shadow: inset 0px -8px 10px 8px rgba(255, 255, 255, 0.15);
}

.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;

    text-align: center;
    font-size: 1.13rem;
}